@import "./mixins_photo.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-div{
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(./images/holidays.png);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.main-div_head{
    width: 100%;
    height: 100px;
    padding-top: 10px;
    padding-left: 240px;
    padding-right: 240px;
}

.main-div_head_name{
    display: inline;
    position: absolute;
    width: 152px;
    height: 24px;
    left: 248px;
    top: 46px;
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
}

.main-div_head_acc{
    width: 120px;
    text-align: center;
    position: absolute;
    right: 240px;
    display: inline;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    align-items: flex-end;
    color: #FFFFFF;
    
}

.main-div_head_log{
    position: absolute;
    width: 44px;
    height: 17px;
    // left: 996px;
    top: 50px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    display: flex;
    align-items: flex-end;

    color: #FFFFFF;
    background: none;
    border: none;
    cursor: pointer;
}

.main-div_head_sign{
    box-sizing: border-box;

    position: absolute;
    width: 90px;
    height: 36px;
    // left: 1059px;
    top: 40px;

    border: 2px solid #FFFFFF;
    border-radius: 40px;
 

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    color: #FFFFFF;
    background: none;
    cursor: pointer;
}

.main-div_text{
    position: absolute;
    width: 600px;
    height: 126px;
    left: 420px;
    top: 223.5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    // line-height: 63px;
    text-align: center;
    color: #FFFFFF;
}

.main-div_text_1{
    position: absolute;
    width: 470px;
    height: 126px;
    left: 485px;
    top: 223.5px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 63px;
    text-align: center;

    color: #FFFFFF;
}

.main-div_text_2{
    position: absolute;
    width: 396px;
    height: 25px;
    left: 522px;
    top: 378px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 102% */

    display: flex;
    align-items: flex-end;
    text-align: center;

    color: #F7F3F2;
}

.main-div_text_button{
    box-sizing: border-box;

    position: absolute;
    height: 40px;
    width: 225px;
    left: 608px;
    top: 436px;
    border-radius: 40px;


    background: #FF4E50;
    border-radius: 40px;
    border-color: #FF4E50;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    cursor: pointer;
}




.cards{
    position: absolute;
    width: 940px;
    height: 461px;
    left: calc(50% - 940px/2 - 9px);
    top: 795px;
}

.cards_name{
    position: absolute;
    width: 342px;
    height: 32px;
    left: 299px;
    top: -6px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #444444;
}

.cards-steps{
    height: 400px;
    width: 940px;
    display: inline;
}

.cards-steps_1{
    width: 300px;
    height: 400px;
    background-image: url(./images/Step\ 1.png);
    padding-left: 25px;
    position: relative;
    border-radius: 4px;
    top: 61px;
}

.cards-steps_1_number{
    position: absolute;
    width: 70px;
    height: 20px;
    top: 224px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 2px;
    color: #FFFFFF;
    border-radius: 40px;
    background-color: #FF4E50;
    padding-left: 14px;
    padding-bottom: 4px;
}

.cards-steps_1_name{
    position: absolute;
    width: 250px;
    height: 58px;
    left: 25px;
    top: 264px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
}

.cards-steps_1_text{
    position: absolute;
    width: 250px;
    height: 57px;
    left: 25px;
    top: 322px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: flex-end;
    color: #E3E3E3;
}

.cards-steps_2{
    @extend .cards-steps_1;
    position: absolute;
    left: 320px;
    top: 61px;
    background-image: url(./images/Step\ 2.png);
}

.cards-steps_2_number{
    @extend .cards-steps_1_number;
    top: 255px;
    border-radius: nullpx;
}

.cards-steps_2_name{
    @extend .cards-steps_1_name;
}

.cards-steps_2_text{
    @extend .cards-steps_1_text;
}

.cards-steps_3{
    @extend .cards-steps_1;
    position: absolute;
    left: 640px;
    top: 61px;
    background-image: url(./images/Step\ 3.png);
}

.cards-steps_3_number{
    @extend .cards-steps_1_number;
}

.cards-steps_3_name{
    @extend .cards-steps_1_name;
}

.cards-steps_3_text{
    @extend .cards-steps_1_text;
}




.partner{
    height: 361px;
    width: 941px;
    left: 250px;
    top: 1351px;
    border-radius: 0px;
    position: absolute;
}

.partner_logo{
    position: absolute;
    width: 491px;
    height: 32px;
    left: 226px;
    top: -6px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    /* identical to box height */

    display: flex;
    align-items: flex-end;
    text-align: center;

    color: #444444;

}

.partner-person_1{
    position: absolute;
    width: 221px;
    height: 205px;
    left: 0px;
    top: 61px;
    align-content: center;
}

.partner-person_2{
    @extend .partner-person_1;
    left: 240px;
}

.partner-person_3{
    @extend .partner-person_1;
    left: 480px;
}

.partner-person_4{
    @extend .partner-person_1;
    left: 720px;
}

.partner-person_1_photo{
    position: absolute;
    width: 121px;
    height: 121px;
    left: -1px;
    top: -1px;
    border-radius: 50%;
    left: 50px;
}

.partner-person_2_photo{
    @extend .partner-person_1_photo;
}

.partner-person_3_photo{
    @extend .partner-person_1_photo;
}

.partner-person_4_photo{
    @extend .partner-person_1_photo;
}

.partner-person_1_name{
    position: absolute;
    width: 221px;
    height: 18px;
    // left: 10px;
    top: 137px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    // display: flex;
    // align-items: flex-end;
    text-align: center;

    color: #444444;

}

.partner-person_2_name{
    @extend .partner-person_1_name;
}

.partner-person_3_name{
    @extend .partner-person_1_name;
}

.partner-person_4_name{
    @extend .partner-person_1_name
}

.partner-person_1_info{
    position: absolute;
    width: 221px;
    height: 38px;
    left: 0px;
    top: 167px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    /* or 100% */

    display: flex;
    align-items: flex-end;
    text-align: center;

    color: #666666;
}

.partner-person_2_info{
    @extend .partner-person_1_info;
}

.partner-person_3_info{
    @extend .partner-person_1_info;
    height: 57px;
    left: 5px;
}

.partner-person_4_info{
    @extend .partner-person_1_info;
    height: 57px;
}

// .partner_button{
//     position: absolute;
//     width: 137px;
//     height: 17px;
//     left: 405px;
//     top: 333px;

//     font-family: 'Montserrat';
//     font-style: normal;
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 17px;
//     /* identical to box height */

//     display: flex;
//     align-items: flex-end;

//     color: #FF4E50;
// }

.partner_button_border{
    position: absolute;
    width: 180px;
    height: 40px;
    left: 381px;
    top: 321px;

    background: #FFFFFF;
    border: 2px solid #FF4E50;
    border-radius: 40px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FF4E50;
    cursor: pointer;
}



.photos{
    position: absolute;


    left: calc(50% - 940px/2);
    bottom: 613px;
    height: 1031px;
    width: 940px;

    top: 1807px;
    border-radius: 0px;

}

.photos_logo{
    position: absolute;
    width: 413px;
    height: 32px;
    left: 264px;
    top: -6px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    /* identical to box height */

    display: flex;
    align-items: flex-end;
    text-align: center;

    color: #444444;
}

.photos_line_1_1{
    @include position(absolute, 300px, 310px, 0px, 61px, normal, 4px, url("./images/line_1_1.png"));
    display: block;
    margin: 0 auto;
}

.photos_line_1_2{
    @include position(absolute, 300px, 310px, 320px, 61px, normal, 4px, url("./images/line_1_2.png"));
    display: block;
    margin: 0 auto;
}

.photos_line_1_3{
    @include position(absolute, 300px, 310px, 640px, 61px, normal, 4px, url("./images/line_1_3.png"));
    display: block;
    margin: 0 auto;
}

.photos_line_2_1{
    @include position(absolute, 300px, 310px, 0px, 391px, normal, 4px, url("./images/line_2_1.png"));
    display: block;
    margin: 0 auto;
}

.photos_line_2_2{
    @include position(absolute, 620px, 310px, 320px, 391px, normal, 4px, url("./images/line_2_2.png"));
    display: block;
    margin: 0 auto;
}

.photos_line_3_1{
    @include position(absolute, 620px, 310px, 0px, 721px, normal, 4px, url("./images/line_3_1.png"));
    display: block;
    margin: 0 auto;
}

.photos_line_3_2{
    @include position(absolute, 300px, 310px, 640px, 721px, normal, 4px, url("./images/line_3_2.png"));
    display: block;
    margin: 0 auto;
}



.typein{
    position: absolute;
    width: 482px;
    height: 158px;
    left: 478px;
    top: 2937px;
}

.typein_logo{
    position: absolute;
    width: 358px;
    height: 32px;
    left: 62.5px;
    top: -6px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    /* identical to box height */

    display: flex;
    align-items: flex-end;
    text-align: center;

    color: #444444;

}

.typein_text{
    position: absolute;
    width: 415px;
    height: 24px;
    left: 35px;
    top: 69px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 14px;
    /* or 78% */

    // display: flex;
    // align-items: flex-end;
    text-align: center;

    color: #666666;
}

.typein_input{
    position: absolute;
    width: 299px;
    height: 40px;
    left: 0px;
    top: 118px;

    background: #FFFFFF;
    border: 1px solid #D4D4D4;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
    border-radius: 3px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    padding-left: 14px;
}

.typein_search_back{
    position: absolute;
    width: 172.12px;
    height: 40px;
    left: 309px;
    top: 118px;

    background: #FF4E50;
    border-color: #FF4E50;
    border-radius: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: white;
    cursor: pointer;
}

footer{
    position: absolute;
    width: 1440px;
    height: 224px;
    left: calc(50% - 1440px/2);
    bottom: 36px;
    top: 3191px;
}

hr{
    position: absolute;
    width: 1440px;
    height: 3px;
    left: 0px;
    top: 0px;

    background: #FF4E50;
}

.footer_logo{
    position: absolute;
    width: 119px;
    height: 20px;
    left: 249px;
    top: 38px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    display: flex;
    align-items: flex-end;

    color: #FF4E50;
}

.footer_company{
    position: absolute;
    width: 70px;
    height: 17px;
    left: 490px;
    top: 40px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    display: flex;
    align-items: flex-end;

    color: #444444;
}

.footer-li{
    position: absolute;
    width: 114px;
    height: 156px;
    left: 490px;
    top: 68px;
    list-style-type: none;
}

.footer-li_text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #999999;
    cursor: pointer;
}

.footer_partners{
    @extend .footer_company;
    width: 64px;
    left: 729px;
}

.footer_design{
    position: absolute;
    width: 90px;
    height: 12px;
    left: 1110px;
    top: 40px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 1px;

    color: #CCCCCC;
}

.footer_img{
    position: absolute;
    width: 110px;
    height: 24px;
    left: 1080px;
    top: 59px;
}

.footer-li_hide{
    display: none;
}

// cursor: pointer;